flash_attn==2.4.2
Flask==3.1.2
flask_cors==5.0.1
huggingface_hub==0.29.1
langchain==1.0.5
langchain_classic==1.0.0
langchain_community==0.4.1
langchain_core==1.0.4
langchain_google_genai==3.0.2
langchain_groq==1.0.0
langchain_huggingface==1.0.1
langchain_openai==1.0.2
pandas==2.3.3
python-dotenv==1.2.1
python_docx==1.1.2
sentencepiece==0.2.1
torch==2.4.0a0+f70bd71a48.nv24.6
tqdm==4.66.4
transformers==4.49.0
